.container.mx-auto.mt-3.white.text-2
  .text-center.mb-2
    .text-1 Made by 
      a.underline.hover_no-underline(href="https://twitter.com/pixelastic") pixelastic
      .inline-block.px-01 -
      a.underline.hover_no-underline(href="https://github.com/pixelastic/landscapes") Source code

